<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfMKgz0w019JTZxJWrYc7FO5a-c2HkCGM</string>
	<key>GCM_SENDER_ID</key>
	<string>951002606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkwin.linkWinMobApp</string>
	<key>PROJECT_ID</key>
	<string>link-win-daf7d</string>
	<key>STORAGE_BUCKET</key>
	<string>link-win-daf7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951002606:ios:a2c6b79f462f84bfe29aff</string>
</dict>
</plist>